body {
  font-family: Arial, sans-serif;
  padding-top: 50px;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: hsl(47, 88%, 63%);
  font-family: "Rubik";
  font-family: "Tilt neon";
}

.container {
  text-align: center;
  width: fit-content;
  height: 250px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
}
input,
button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #000;
}

input {
  color: #757575; /* Darker grey for good contrast */
  font-style: italic;
  font-size: 16px;
}

button {
  cursor: pointer;
  background-color: hsl(227, 48%, 88%);
  background-color: #4681f4; /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

#result {
  margin-top: 20px;
  background-color: #e0f2f1; /* Light teal background */
  color: #00695c;
  padding: 10px;
  /* margin-top: 10px; */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.2em;
}

h1 {
  color: #2c3e50; /* Dark blue-grey color */
  text-align: center;
  /* font-family: "Arial", sans-serif; */
  /* font-size: 3em; Adjust size as needed */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-shadow: 2px 2px 4px #7f8c8d;
}
